<script type="text/javascript" src="/javascripts/main.js" defer></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div data-component="mainField" class="mainField"></div>
<form>
    <div class="input-group">
        <input type="text" name="message" class="form-control" placeholder="Enter your message" aria-describedby="basic-addon2">
        <button type="submit" class="btn btn-default" onclick="sendMessage(event)">Send</button>
    </div>
</form>
