<p>Welcome to {{title}}</p>

<div id="messagesField" class="mainField"></div>

<form id="messageForm">
    <div class="input-group">
        <input type="text" name="message" id="message" class="form-control" placeholder="Enter your message" aria-describedby="basic-addon2">
        <button type="submit" class="form-control btn btn-default" id="m">Send</button>
    </div>
</form>