<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
  <script type="text/javascript" src="/javascripts/main.js" defer></script>
  <script>
      var socket = io.connect('http://localhost:8080');
  </script>

  <body>
    {{{body}}}
  </body>
</html>
