<form action='/signup', method='POST'>
    {{#if message}}
        <h2>{{message}}</h2>
    {{/if}}
    Login: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    Gender: <input type="text" name="sex"><br>
    <button type="submit">Register</button>
</form>